
body{
    background-color: aqua;
    
    
}
ul{
    color: rgb(33, 15, 234);
    
}
h2{
    text-align: center;
}
div{
    color: white;
    text-align: center;
    background-color: black
    
}
img{
    border-color: black;
    border-width: 5px;
    border-style: dotted;
}
a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color:aqua;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}
.n{ 
    display: inline-block;

}
